@import './src/style/_header.css';
@import './src/style/_containers.css';
@import './src/style/_buttons.css';
@import './src/style/_select.css';
@import './src/style/_tables.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
  }
  
  ::-webkit-scrollbar-button {
    display: none;
  }
  
  body {
    -ms-overflow-style:none;
  }

  author {
    float: right;
  }