@import './src/style/_header.css';
@import './src/style/_divs.css';
@import './src/style/_buttons.css';
@import './src/style/_select.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}