#workoutSplitSelector {
    background-color: transparent;
    color: #ffd369;
    text-align-last:center;
    border: 1px solid #ffd369;
    border-radius: 5px;
    font-size: 2vh;
    width: 87vw;
    margin: 1vh 1.7%;
}

.workoutDaySelector{
    display: none;
    background-color: transparent;
    color: #ffd369;
    text-align-last:center;
    border: 1px solid #ffd369;
    border-radius: 5px;
    font-size: 2vh;
    width: 87vw;
    margin: 1vh 1.7%;
}

option{
    background: #222831;
}